* {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  color: 	#172A3F;
  font-display: fallback;
}

h1 {
  margin-top: 0;
}

h1, h2, h3, h4 {
  color: 	#172A3F;
  font-family: 'Roboto Slab', serif;
}

h4 {
  max-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 480px) {
  h1 {
    font-size: 22px;
  }
}

p {
  color: #546271;
  font-weight: 400;
  letter-spacing: 0.4px;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
}

@media (max-width: 480px) {
  main {
    padding: 16px 4px;
  }
  .welcome-page {
    margin-top: 0;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

@media (max-width: 480px) {
  .nav-link  {
    font-size: 14px;
  }  
}

.nav-link.active {
  opacity: 1;
}

.nav-link:hover {
  opacity: 0.9;
  transition: 400ms ease;
}

.nav-link:not(:first-child) {
  margin-left: 32px;
}

@media (max-width: 480px) {
  .nav-link:not(:first-child) {
    margin-left: 16px;
  }
  .nav-link:last-child {
    margin-right: 4px;
  }
}

@media (min-width:480px) {
  .paper-hover {
    transition: 200ms linear;
    position: relative;
  }
  .paper-hover:hover {
    transform: translateY(-20px);
    transition: 200ms linear;
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.2), -1px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 9px 9px -2px rgba(0, 0, 0, 0.12);
  }
}

.hovering {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.03), 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03) !important;
}

.hovering:hover {
    transition: 200ms ease-in-out;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.03), 0 0 1px rgba(39,44,49,.09), 0 3px 16px rgba(39,44,49,.06) !important;
}


/* cinema */

.cinema-list {
  margin-top: 16px;
}


#tooltip-top  {
  font-size: 14px;
  padding: 12px;
  background-color: #ffffff;
  color: 	#172A3F;
}